    @import "tailwindcss";

    @theme {

        --font-jiji: 'Roboto', 'sans-serif';
        --color-primary: #00b53f; /* Jiji Green */
        --color-navbutton: rgb(254, 160, 60); /*#fea03c; Jiji Orange */
        --color-searchbg: #EBF2F7;
    }